<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ble.ticlient" android:installLocation="auto" android:versionName="1.0.009" android:versionCode="10009">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="X-Lab EQ Room" android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.ble.client.fileprovider" android:exported="false" android:grantUriPermissions="true">
		<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
	</provider>
</manifest>